.box {
	overflow: hidden;
	position: relative;
	width: 400px;
	height: 400px;
	background: linear-gradient(#FFF 0%, #CCC 100%);
	box-shadow: 0 0 3px black;
}
.box .thumbnail {
	margin: 0 auto;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.box img {
	width: 300px;
}
.box p {
	text-align: center;
	color: #444;
	font-size: 20px;
	letter-spacing: 2px;
}
.box .ribbon {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 80px;
	line-height: 80px;
	background: linear-gradient(yellow 0%, orange 100%);
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 0 0 3px black;
	box-shadow: 0 0 3px black;
	-webkit-transform: rotate(-45deg) translate(-70px,-70px);
	   -moz-transform: rotate(-45deg) translate(-70px,-70px);
	    -ms-transform: rotate(-45deg) translate(-70px,-70px);
	     -o-transform: rotate(-45deg) translate(-70px,-70px);
	        transform: rotate(-45deg) translate(-70px,-70px);
}